.wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  /* border: 1px solid black; */
  width: 31%;
  padding: 1em;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  /* border: 1px solid rgba(255, 255, 255, 0.51); */
}

.message_wrapper {
  min-height: 220px;
}

.card p {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 10px;
  /* bac */
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.author_details {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.author_details h3 {
  font-weight: 700;
}

.author_details h4 {
  /* color: grey; */
}
